* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Source Code Pro';
}
canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mode-glow {
  background-color: #000;
  canvas {
    -webkit-filter: url('#glow');
    filter: url('#glow');
  }
  .select-effects {
    border-color: #eee;
    color: #eee;
  }
}
.mode-ameba {
  canvas {
    -webkit-filter: url('#ameba');
    filter: url('#ameba');
  }
}
.select-effects {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  padding: 0.5em 1em;
  border-top: 1px solid #333;
  li {
    display: inline-block;
    cursor: pointer;
    margin-right: 1em;
    &.is-selected {
      opacity: 0.5;
    }
    &:before {
      content: ">> ";
    }
  }
}
