* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
}
canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-filter: contrast(150%);
  filter: contrast(150%);
  background: radial-gradient(ellipse at center, #665522 0%,#110000 100%); 
}
